* {
  box-sizing: border-box;
}
.patHeading {
  /* position: relative; */
  top: 5px;
  color: #36454f;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  flex: 20;
  text-align: right;
  box-sizing: border-box;
}
.Rece-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  flex: 70%;
  gap: 10px;
  /* padding: 10px; */
}

.Rece-flex-item-left {
  padding: 10px;
  padding-left: 50px;
  flex: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  min-height: 80vh;
  box-sizing: border-box;
}
.oldPatRight {
  height: fit-content;
}
.RecInp {
  height: 30px;
  width: 400px;
  flex: 70;
  /* border-radius: 2px; */
  /* margin-right: 50px; */
  /* margin-bottom: 22px; */

  /* margin: 20px; */
}

.or {
  text-align: center;
  font-family: "Anton", sans-serif;
  font-family: "Cinzel", serif;
  font-family: "Crimson Text", serif;
  font-family: "Dancing Script", cursive;
  font-family: "DM Sans", sans-serif;
  font-family: "Heebo", sans-serif;
  font-family: "IBM Plex Mono", monospace;
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Noto Sans HK", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Prompt", sans-serif;
  font-family: "Questrial", sans-serif;
  font-family: "Wix Madefor Text", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Anton&family=Belanosima&family=Cinzel:wght@500&family=Crimson+Text:wght@700&family=DM+Sans:wght@700&family=Dancing+Script:wght@700&family=Heebo:wght@100;700;800;900&family=IBM+Plex+Mono:wght@700&family=Lato:wght@300;400&family=Montserrat:ital,wght@0,300;0,400;1,400&family=Nanum+Gothic&family=Noto+Sans+HK&family=Open+Sans:wght@300&family=Plus+Jakarta+Sans:wght@200&family=Poppins:wght@200;300;400;500;600&family=Prompt:wght@300&family=Questrial&family=Wix+Madefor+Text&display=swap");
.patientDet {
  overflow-y: scroll;
  padding: 10px 20px;
  background-color: whitesmoke;
  border-radius: 10px 10px 10px 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  /* align-items: flex-end; */
  font-family: "Anton", sans-serif;
  font-family: "Belanosima", sans-serif;
  font-family: "Cinzel", serif;
  font-family: "Crimson Text", serif;
  font-family: "Dancing Script", cursive;
  font-family: "DM Sans", sans-serif;
  font-family: "Heebo", sans-serif;
  font-family: "IBM Plex Mono", monospace;
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Noto Sans HK", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Prompt", sans-serif;
  font-family: "Questrial", sans-serif;
  font-family: "Wix Madefor Text", sans-serif;
  box-sizing: border-box;
}
.ReceptionImage {
  height: 100px;
  width: 100px;

  border-radius: 50%;
  border: 3px solid orangered;
}

.options {
  text-align: center;
  color: #5e17eb;
  font-family: "Anton", sans-serif;
  font-family: "Cinzel", serif;
  font-family: "Crimson Text", serif;
  font-family: "Dancing Script", cursive;
  font-family: "Heebo", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Noto Sans HK", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Prompt", sans-serif;
  font-family: "Questrial", sans-serif;
  font-family: "Wix Madefor Text", sans-serif;
  font-weight: 600;
  text-decoration: none;
  margin-bottom: 200px;
}
.RegistWord {
  color: #5e17eb;
  background-color: whitesmoke;
  padding: 6px;
  text-align: center;
  border-radius: 0 20px 20px 0;
  font-family: "Anton", sans-serif;
  font-family: "Belanosima", sans-serif;
  font-family: "Cinzel", serif;
  font-family: "Crimson Text", serif;
  font-family: "Dancing Script", cursive;
  font-family: "DM Sans", sans-serif;
  font-family: "Heebo", sans-serif;
  font-family: "IBM Plex Mono", monospace;
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Noto Sans HK", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Prompt", sans-serif;
  font-family: "Questrial", sans-serif;
  font-family: "Wix Madefor Text", sans-serif;
  font-weight: 900;
}
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Cinzel:wght@500&family=Crimson+Text:wght@700&family=Dancing+Script:wght@700&family=Heebo:wght@100&family=Lato:wght@300;400&family=Montserrat:ital,wght@0,300;0,400;1,400&family=Nanum+Gothic&family=Noto+Sans+HK&family=Open+Sans:wght@300&family=Plus+Jakarta+Sans:wght@200&family=Poppins:wght@200;300;400;500;600&family=Prompt:wght@300&family=Questrial&family=Wix+Madefor+Text&display=swap");
.receptionWord {
  font-size: large;
  margin-bottom: 30px;
  font-family: "Anton", sans-serif;
  font-family: "Cinzel", serif;
  font-family: "Crimson Text", serif;
  font-family: "Dancing Script", cursive;
  font-family: "Heebo", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Noto Sans HK", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Prompt", sans-serif;
  font-family: "Questrial", sans-serif;
  font-family: "Wix Madefor Text", sans-serif;
}
.con {
  position: relative;
}

.con img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.InsideRightBox {
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 5px;
}
.OutsideRight {
  font-family: "Anton", sans-serif;
  font-family: "Cinzel", serif;
  font-family: "Crimson Text", serif;
  font-family: "Dancing Script", cursive;
  font-family: "Heebo", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Noto Sans HK", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Prompt", sans-serif;
  font-family: "Questrial", sans-serif;
  font-family: "Wix Madefor Text", sans-serif;
  height: inherit;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
  color: white;
  width: inherit;
  background-color: orange;
}
.Rece-flex-item-right {
  height: fit-content;
  padding: 10px;
  margin-right: 50px;
  margin-left: 50px;

  border-radius: 5px;
  flex: 70%;
}
.container-right {
  height: fit-content;
  padding: 10px;
  margin-right: 50px;
  margin-left: 50px;

  border-radius: 5px;
  flex: 70%;
}
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Cinzel:wght@500&family=Crimson+Text:wght@700&family=DM+Sans:wght@700&family=Dancing+Script:wght@700&family=Heebo:wght@100;700;800;900&family=IBM+Plex+Mono:wght@700&family=Lato:wght@300;400&family=Montserrat:ital,wght@0,300;0,400;1,400&family=Nanum+Gothic&family=Noto+Sans+HK&family=Open+Sans:wght@300&family=Plus+Jakarta+Sans:wght@200&family=Poppins:wght@200;300;400;500;600&family=Prompt:wght@300&family=Questrial&family=Wix+Madefor+Text&display=swap");
.NPR {
  text-align: center;
  color: #004aad;
  font-family: "Anton", sans-serif;
  font-family: "Cinzel", serif;
  font-family: "Crimson Text", serif;
  font-family: "Dancing Script", cursive;
  font-family: "DM Sans", sans-serif;
  font-family: "Heebo", sans-serif;
  font-family: "IBM Plex Mono", monospace;
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Noto Sans HK", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Prompt", sans-serif;
  font-family: "Questrial", sans-serif;
  font-family: "Wix Madefor Text", sans-serif;
  font-weight: 900;
  padding: 2%;
}
.option {
  padding: 10px;
}
/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 950px) {
  .Rece-flex-container {
    flex-direction: column;
  }
}

/* CSS */
.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
}

.button-17:hover {
  background: #f6f9fe;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0,
    rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}
.star {
  color: red;
  padding: 0px 30px 0px 0px;
}
.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, 0.3) 0 4px 4px 0,
    rgba(60, 64, 67, 0.15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}
.logout {
  background-color: grey;
  color: white;
  font-size: large;
  margin-left: 10%;
}
.savesubmit {
  /* background-color: orange; */
  color: white;
  /* border: px solid orange;    */
  background-color: rgba(0, 167, 162, 0.4);
  /* font-size: large;
  margin-left: 25%;
  margin-top: 3%; */
}
@media (max-width: 1245px) {
  /* .patHeading {
    font-size: large;
  } */
  .RecInp {
    height: 25px;
    width: 350px;
    /* margin-right: 50px;
    margin-bottom: 22px; */
    font-size: 20px;
    /* margin: 20px; */
  }
}
@media (max-width: 1172px) {
  .patHeading {
    font-size: large;
  }
  .RecInp {
    height: 25px;
    width: 300px;
    /* margin-right: 30px;
    margin-bottom: 22px; */
    font-size: 20px;
    /* margin: 20px; */
  }
}

.activeLink {
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 2rem;
}
.optt {
  /* margin-bottom: 20px; */
  font-size: 1rem;
}
