body {
  background-image: url("\\Images\\bg.webp");
  /* background-size: 100vw 100vh; */
  background-size: 300vw 300vh;
  /* min-width: 800px;
  min-height: 600px; */
  background-image: no-repeat;
}
